.User-Info {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  white-space: nowrap;
}

.User-Info>span {
  color: rgb(238, 255, 0);
  font-size: 14px;
}

.User-FullName {
  margin-top: 8px;
  align-self: center;
  white-space: nowrap;
}

#UserInfoList {
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
}

#UserInfoList li {
  display: flex;
  align-items: center;
  flex: 1 0 47%;
}

#UserInfoList li:nth-child(2n + 1) {
  margin-right: 3%;
}