.User-Info {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
}

.User-Info>span {
  color: rgb(238, 255, 0);
  font-size: 14px;
}

.User-FullName {
  margin-top: 8px;
  align-self: center;
}